.c{
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

.c1{
    background-color: rgba(128, 0, 128, 0.216);
    margin-left: 300px;
    margin-top: 200px;
    
}

.c2{
    background-color: rgba(255, 99, 71, 0.288);
    margin-left: 701px;
    margin-top: -202px;
    border-left: none;
}


h1{
    color: rgb(255, 99, 71);
}

#w{
    color: rgb(238, 130, 238);
}

#g{
    color: springgreen;
}

body{
    background-image: url("./images/2016-Pagani-Huayra-BC-001-1600.jpg");
    background-size: cover;
}